<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Top Ten Stories</title>
        <link rel="stylesheet" type="text/css" href="../css/index.css">
    </head>
    <body>
        <div id="topBanner">
                <button id="refresh" class="button buttonShadow">Refresh</button>
                <h1>Top 10 Random Stories :</h1>
        </div>
        <div class="spinner"></div>
        <div id="listStories">
        </div>
        <script src="../../dest/topstories.min.js"></script>

    </body>
</html>